/* =========================================================
   Dashboard
   ========================================================= */

body {
    background-color: #f8f9fa;
}


/* =========================================================
   Sidebar
   ========================================================= */

.sidebar {
    min-height: 100vh;
}

.nav-pills .nav-link {
    border-radius: 8px;
    transition: 0.2s ease;
}

.nav-pills .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


/* =========================================================
   Dashboard Card
   ========================================================= */

.card {
    border-radius: 12px;
}


/* =========================================================
   Progress
   ========================================================= */

.progress {
    border-radius: 10px;
}

.progress-bar {
    border-radius: 10px;
}